body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 20px;
  color: black;
}
img {
  object-fit: contain;
  width: 10rem;
  border-radius: 1rem;
}

em {
  margin-bottom: 1rem;
}

/* span {
  color: rgb(39, 123, 233);
} */

.btn-bubble {
  font-size: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  background-color: #0a7cff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 5px #888;
}

.btn-bubble:hover {
  cursor: pointer;
  box-shadow: 1px 1px 8px #888;
}

#siWidget-chat {
  position: fixed;
  right: 25px;
  height: calc(100% - 150px);
  bottom: 7rem;
  width: 360px;
  min-height: 260px;
  max-height: 590px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15) !important;
  border-radius: 6px !important;
  overflow: hidden !important;
  z-index: 9999999;
  transform-origin: right 95% 0;
  transform: translate(0px, 0px) scale(0.1);
  opacity: 0;
  display: none;
  transition: all 0.5s ease-in-out;
}

.siScale {
  display: block !important;
  transform: scale(1) !important;
  transform-origin: right 95% 0 !important;
  opacity: 1 !important;
}

.show {
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.icon {
  color: white;
  font-size: 1.5rem;
}
